
.color-choice {
    margin-right:4px;
    width:15px;
    height:15px;
    float:left;
    border:1px solid black;
}

#gray {    
    background-color: #D5D6DD;
}

#tan {    
    background-color: #B99B64;
}

#blue {    
    background-color: #A1AFAE;
}

#green {
    background-color:#7A7D45;
}

#white{
   background-color:#FFF;	
}

