
.color-choice {
    margin-right:4px;
    width:15px;
    height:15px;
    float:left;
    border:1px solid black;
}

#gray {    
    background-color: #D5D6DD;
}

#tan {    
    background-color: #B99B64;
}

#blue {    
    background-color: #A1AFAE;
}

#green {
    background-color:#7A7D45;
}

#white{
   background-color:#FFF;	
}

 canvas {
   border: 2px dotted black; 
}
#kitteh {
    width: 900px;
    height: 200px;
    background-repeat: no-repeat;
}
.painting {
    background-image: url(../images/painting_carousel_sm.png);
}
.papercraft {
    background-image: url(../images/papercraft_carousel_sm.png);
}
.furniture {
    background-image: url(../images/furniture_carousel_sm.png);
}

/* Hi, I'm custom CSS */

#furniture .ui-grid-a .ui-block-a {
    width: 69%;
    padding-right: 1%;
}
#furniture .ui-grid-a .ui-block-b {
    width: 30%;
}
.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

@media all and (max-width: 720px) {
    #furniture .ui-grid-a .ui-block-a,
    #furniture .ui-grid-a .ui-block-b {
        width: 100%;
    }
    .ui-grid-c .ui-block-a,
    .ui-grid-c .ui-block-b,
    .ui-grid-c .ui-block-c,
     {
        width: 49%;
        padding-right: 1%;
    }
}










